<!DOCTYPE html >
<html layout:decorator="shared/homelayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<link rel="stylesheet" type="text/css" th:href="@{/css/home-index.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
		<h2>Manage Airline</h2>
		<a href="/airline/new">Create an Airline</a>

		<table class="table table-striped">
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			</thead>
			<tbody>

			<tr th:each="airline : ${airlines}">
				<td th:text="${airline.Id}"></td>
				<td th:text="${airline.name}"></td>
				<td>
					<a th:href="@{'/airline/' + ${airline.id}}">Detail</a>&nbsp;
				</td>
			</tr>
			</tbody>
		</table>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>